@model IEnumerable<Project.Models.Employee>

@{
    ViewData["Title"] = "Employee";
}

<h1>@ViewData["Title"]</h1>
<a asp-action="Create" style="text-decoration: none; color: inherit;">
    <button style="border-radius: 5px;">
        New Employee
    </button>
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID"><button style="border-radius: 5px;">Edit</button></a> |
                <a asp-action="Details" asp-route-id="@item.ID"><button style="border-radius: 5px;">Details</button></a> |
                <a asp-action="Delete" asp-route-id="@item.ID"><button style="border-radius: 5px;">Delete</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
