@model Project.Models.Dependants

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>Dependants</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID"><button style="border-radius: 5px;">Edit</button></a> |
    <a asp-action="Index"><button style="border-radius: 5px;">Back to List</button></a>
</div>
